body {
    background-image: url("../images/game\ logo.png"), no-repeat;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-size: cover;
    
}
.container { 
    text-align: center;
    
}

.card {
    background-color: aquamarine;
}

#WordToGuess {
    background-color: bisque;
}


